<div 
  [ngStyle]="{'color': isHovered ? '#5B9D6A' : 'black'}"
  (mouseenter)="onMouseEnter()" 
  (mouseleave)="onMouseLeave()"
>
  
<h3>Réalisation d'une modélisation en 3D  du foyer</h3>
<div class="sketchfab-embed-wrapper">
    <iframe title="AU's University Village - 4 Bedroom Suite" frameborder="0"
      allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport
      execution-while-not-rendered web-share
      src="https://sketchfab.com/models/5ec72ead83dd41489cc1dd2ee76df6d4/embed"
      style="width: 60%; height: 400px;">
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a href="https://sketchfab.com/3d-models/aus-university-village-4-bedroom-suite-5ec72ead83dd41489cc1dd2ee76df6d4?utm_medium=embed&utm_campaign=share-popup&utm_content=5ec72ead83dd41489cc1dd2ee76df6d4"
        target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> </a>
      <a href="https://sketchfab.com/AUCommsMarketing?utm_medium=embed&utm_campaign=share-popup&utm_content=5ec72ead83dd41489cc1dd2ee76df6d4"
        target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> </a>
      <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=5ec72ead83dd41489cc1dd2ee76df6d4"
        target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"></a>
    </p>
  </div>
</div>